extends ../includes/default

block content

  form.login.well.span3.offset4(action="/resetPassword/"+user_id+"/"+key, method="post")
    h1 Reset Password 
    input(type='hidden', name='_csrf', value=token)
    if (message.length>0)
      p!= message
    label.control-label(for='password') Password
    input#password.span3.required(type='password', name="password")
    
    label.control-label(for='passwordConfirm') Re-enter Password
    input#passwordConfirm.span3.required(type='password', name="passwordConfirm")

    button.btn.btn-primary(type='submit')
      i.icon-lock.icon-white 
      &nbsp; Submit
    &nbsp; or &nbsp;
    a(href="/login") cancel