extends ../includes/default

block content

  form.login.span5.offset3.well(action="/signup/resendActivation", method="post")
    input(type='hidden', name='_csrf', value=token)
    div
      h1= title 
    if (message.length>0)
      p!= message
    .control-group
      .controls
        input#email.span5.required(type='text', name="email", placeholder='Email')

    button.btn.btn-primary(type='submit') Send
    &nbsp;
    | or&nbsp;
    a.show-signup(href="/login") cancel