extends includes/default

block content
  .hero-unit.span6
    h1 Welcome to #{appName}!
    p Some promotional message goes here. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    p 
      a.btn.primary largeExplore &raquo;
  .span4(ng-view)