<html>
  <body>
    <h1>Hi there <%= name %></h1>
    <p>Sorry about the trouble with the password,
      <p>Please click on the following link to confirm your email and set a new password:<br>
      <a href="<%= activationLink %>">Reset Password</a>
      <p>Regards,<br>
      <%= appName %>
  </body>
</html>