
header#header
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/') #{appName}
        .nav-collapse.collapse
          ul.nav
            //- li
            //-   a(href='/schedules', title="Your Schedules") Schedules
            //- li
            //-   a(href="/schedules/new", title="New Schedule") New
          
          ul.nav.pull-right
            if (isAuthenticated())
              li
                a.dropdown-toggle(data-toggle="dropdown", href="#") #{user.name}
                ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                  li
                    a(href="/account", title="Account", tabIndex='-1') Account
                  li
                    a(href="/logout", title="logout", tabIndex='-1') Logout
            else
              li
                a(href="/signup", title="Signup") Signup
              li
                a(href="/login", title="Login") Already a member?
                //- need to add custom javascript to stop it from closing on a click
                //- a.dropdown-toggle(data-toggle="dropdown", href="#", title="Login") Already a member?
                //-   .dropdown-menu(role="menu", aria-labelledby="dLabel")
                //-     include ../users/loginForm
