extends ../includes/default

block content

  form.login.form-vertical.span5.offset3.well(action="/forgotPassword", method="post")
    input(type='hidden', name='_csrf', value=token)
    h1= title
    if (message.length>0)
      p!= message
    .control-group
      .controls
        input#email.span5.required(type='text', name="email", placeholder='Email')

    button.btn.btn-primary(type='submit') Send Reset Link
    &nbsp;
    | or&nbsp;
    a.show-signup(href="/login") cancel