.modal.hide.fade#modal(role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
    block content
  .modal-footer
    a.btn(href="#") Close
    a.btn.btn-primary(href="#") Save changes